body{
  background-color: rgba(239, 241, 239, 0.19);
}
h1 {
	font-family: 'Copperplate Gothic Light';
	font-size: 41px;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	line-height: 45.1px;
  text-align: center;
}
h2{
  font-family: 'Copperplate Gothic Light';
  font-size: 30px;
  font-style: oblique;
  font-variant: normal;
  font-weight: bold;
  line-height: 45.1px;
}
form{
border: 5px solid rgba(0, 0, 0, 0.51);
width: 50%;
position: absolute;
left: 25%;
}
input{
  padding: 10px;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
  text-align: center;
}
label{
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  color: black;
}
#button{
  font-size: 20px;
  border-style: outset ;
margin: 5px;
padding: 5px;
}
#button:hover{
  border-style: inset;
}
